<<<<<<< HEAD
td{
  width: 300px;
  height:   auto;
  word-break: break-all;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.message{
  width: 700px;
}

table{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  border-collapse: collapse;
}

form {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  grid-gap: 20px;
}
=======
.message {
    color: #888888;
}
.message.me {
    font-style: italic;
    color: #AAA;
}

.pagination {
    list-style: none;
}
.pagination li {
    display: inline-block;
}
>>>>>>> cd02f0c74c48f9bd3e16f1d0b35e660ca2ae32f9
