table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

td {
  width: 150px;
  height: 100px;
  border: solid black 1px;
  border-color: rgba(200,200,200,0.8);
  vertical-align: top;
}

.numDay{
  margin-top: 5px;
}

.events {
  display: flex;
  flex-direction: column;
}

.events a {
  margin: 10px;
  height: 100%;
}

th, caption{
  height: 50px;
  border: solid black 1px;
  border-color: rgba(200,200,200,1);
}

table a{
  text-decoration: none;
  font-weight: normal;
  color: black;
}

table a:hover{
  color: red;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 20px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
