form {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: space-around;
  grid-gap: 20px;
}

p{
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  border: 2px solid black;
  width : 300px;
  height: 50px;
  text-align: center;
}

img {
  width : 100px;
  height : auto;
}
